{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

<!-- h-100 to give 100% height and my-auto to vertically centre my-5 for margin -->
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                {{ products }} <!--From context of products view-->
            </div>
        </div>
    </div>
{% endblock %}



